.page-footer {
    background: $footer-gradient-color;
    background: $footer-gradient-properties;
    padding-top: 30px;
}

.page-footer-wrapper {
    display: flex;
    flex-direction: column;
}

.rights {
    margin-bottom: 20px;
    text-align: center;
}