.page-header {
    background: $header-gradient-color;
    background: $header-gradient-properties;
    .main-navigation {
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .logo {
            font-size: 2rem;
            font-weight: 700;
            line-height: 0.75;
            padding: 25px 0;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                color: white;
                p:last-child {
                    font-size: 2.5rem;
                    font-weight: 900;
                }
            }
        }

        .menu {
            list-style: none;
            display: flex;
            align-items: center;
            font-weight: bold;
            letter-spacing: 1px;
            li {
                margin-left: 20px;
                a {
                    text-decoration: none;
                    background-color: aquamarine;
                    color: black;
                    padding: 10px 20px;
                    border-radius: 5px;
                    border: 1px solid aquamarine;
                    &:hover {
                        background-color: rgb(77, 205, 162);
                    }
                }
            }
        }
        
    }   

    .banner {
        height: 300px;
        overflow: hidden;
        position: relative;
        h1 {
            position: absolute;
            font-size: 5rem;
            color: #bdffe9;            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .banner-image {
            background-image: url('https://images.unsplash.com/photo-1518314916381-77a37c2a49ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1502&q=80');
            width: 100%;
            height: 300px;
            background-position: center;
            background-size: cover;
            opacity: 0.25;
          }
    }
}

.menu {
    list-style: none;
    font-weight: bold;
    letter-spacing: 1px;
    li {
        a {
            text-decoration: none;
            color: black;
        }
    }
}

.footer-nav {
    margin-bottom: 20px;
    ul {
        display: flex;
        justify-content: space-around;
    }
    .rights {
        margin-bottom: 20px;
    }
}