// For Landing Page
.landing-page {
    width: 75%;
    margin: 3rem auto;
    .center-heading {
        text-align: center;
        margin-bottom: 40px;
    }
    .headings-wrapper {
        text-align: center;
        font-size: 2rem;
        color: black;
        margin: 30px 0 60px 0;
        h3 {
            font-size: 1.85rem;
        }
    }

    .description-wrapper {
        display: flex;
        justify-content: space-between;
        section {
            width: 30%;
            text-align: center;
            font-size: 1.35rem;
        }
        .icon-wrapper {
            font-size: 6rem;
        }
        .heading {
            margin: 1.4rem;
        }
        .information {
            font-style: italic;
        }
        .robots .icon-wrapper {
            color: forestgreen;
        }
        .electronics .icon-wrapper {
            color: darkorange;
        }
    }
}

// For Projects Page
.projects-page{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        text-align: center;
        margin-bottom: 50px;
    }
    .kolichka-wrapper {
        border: 2px solid black;
        border-radius: 5px;
        margin-bottom: 50px;
        width: 75vw;
        min-width: 125px;
        max-width: 850px;
        overflow: hidden;
        display: flex;
        align-items: center;
        img {
            width: 100%;
        }
    }
}

// For Contacts Page
.contacts-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    .contacts-header{
        margin: 3rem 0 1rem 0;
    }
    .contacts-email{
        margin: 1rem 0 3rem 0;
    }
}

// For About Page
.portrait-wrappers{
    display: flex;
    justify-content: center;
    .portrait-image-wrappers{
        .portraits{
            height: 100%;
            width: 100%;
            object-fit: cover;
            display: flex;
            justify-content: center;
        }
    }
}