// For Landing Page
.landing-page {
    width: 75%;
    margin: 15px auto 50px auto;
    .center-heading {
        text-align: center;
        margin-bottom: 40px;
    }
    .headings-wrapper {
        text-align: center;
        font-size: 2rem;
        color: black;
        margin: 30px 0 60px 0;
        h3 {
            font-size: 1.85rem;
        }
    }

    .description-wrapper {
        display: flex;
        justify-content: space-between;
        section {
            width: 30%;
            text-align: center;
            font-size: 1.35rem;
        }
        .icon-wrapper {
            font-size: 6rem;
        }
        .heading {
            margin: 1.4rem;
        }
        .information {
            font-style: italic;
        }
        .robots .icon-wrapper {
            color: forestgreen;
        }
        .electronics .icon-wrapper {
            color: darkorange;
        }
    }
}


.projects-page{
    h1 {
        text-align: center;
        margin-bottom: 50px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    .kolichka-wrapper {
        border: 2px solid black;
        border-radius: 5px;
        margin-bottom: 50px;
        width: 33vw;
        min-width: 125px;
        max-width: 850px;
        overflow: hidden;
        display: flex;
        align-items: center;
        img {
            width: 100%;
        }
    }
}
